/* Global Layout Set-up */
{
    box-sizing: border-box;
}

body {
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #aa857d;
    opacity: 1;
    background-image: linear-gradient(30deg, #d18c87 12%, transparent 12.5%, transparent 87%, #d18c87 87.5%, #d18c87), linear-gradient(150deg, #d18c87 12%, transparent 12.5%, transparent 87%, #d18c87 87.5%, #d18c87), linear-gradient(30deg, #d18c87 12%, transparent 12.5%, transparent 87%, #d18c87 87.5%, #d18c87), linear-gradient(150deg, #d18c87 12%, transparent 12.5%, transparent 87%, #d18c87 87.5%, #d18c87), linear-gradient(60deg, #d18c8777 25%, transparent 25.5%, transparent 75%, #d18c8777 75%, #d18c8777), linear-gradient(60deg, #d18c8777 25%, transparent 25.5%, transparent 75%, #d18c8777 75%, #d18c8777);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
/* Link Styles */
            

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #000;
}

/* Section Styles */

.main-nav {
    width: 100%;
    background: transparent;
    min-height: 30px;
    padding: 0px;
    position: fixed;
    text-align: center;
    text-shadow: 3px 2px #890fa0;
}
.nav {
    display: flex;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 40px;
    float: right;


}

.nav li {
  padding: 5px 10px 10px 10px;
  color: white;
}

.loca{
  color: #4e65cb;
  font-weight: bold;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: #1f2fa8;
}

header {
    text-align: center;
    background-color: #db3435;
    opacity: 1;
    background-image:  linear-gradient(30deg, #c72124 12%, transparent 12.5%, transparent 87%, #c72124 87.5%, #c72124), linear-gradient(150deg, #c72124 12%, transparent 12.5%, transparent 87%, #c72124 87.5%, #c72124), linear-gradient(30deg, #c72124 12%, transparent 12.5%, transparent 87%, #c72124 87.5%, #c72124), linear-gradient(150deg, #c72124 12%, transparent 12.5%, transparent 87%, #c72124 87.5%, #c72124), linear-gradient(60deg, #c7212477 25%, transparent 25.5%, transparent 75%, #c7212477 75%, #c7212477), linear-gradient(60deg, #c7212477 25%, transparent 25.5%, transparent 75%, #c7212477 75%, #c7212477);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    overflow: hidden;
    padding-top: 60px;
    line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 115px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #890fa0;
  transition: all .5s;
}

header .profile-image:hover {
  transform: rotate(360deg) scale(1.2);
}

.tag {
  background-color: #fff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.name{
  background-color: transparent;
  color: #fff;
}

.location {
  background-color: transparent;
  color: #fff;
}

.location a:hover {
	color: dimgray;
}

.cardbackground{
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #000;
  border: 8px solid #890fa0;
  border-radius: 10px;
}

.cardskills {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #000;
  border: 8px solid #890fa0;
  border-radius: 10px;
}

.cardskills ul {
  text-align: justify;
}

.cardbackground:hover {
  border-color: #1f2fa8;
  border-width: 10px;
}

.cardskills:hover {
  border-color: #1f2fa8;
  border-width: 10px;
}

.cardskilltype {
  color: #4e65cb;
  font-weight: bold;
}

.cardskilltype:hover {
  color: dimgray;
}

.resu{
  color: #4e65cb;
  font-weight: bold;
}

.resu:hover{
  color: dimgray;
}

footer {
  width: 100%;
  min-height: 30px;
  text-align: right;
  display: block;
}

footer .copyright {
  text-align: right;
  font-size: .75em;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

