
{ 
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #222; /*dark gray*/
	background: #ececec; /*light gray*/
}

a {
  text-decoration: none;
  color: #0499ff; /*sky blue*/
}
a:hover {
  color: #6633ff; /*purple blue*/
}

.main-image{
	margin-top: 50px;
	width: 115px;
	height: 150px;
	border: solid 4px #a141d0;
	border-radius: 50%;
}

header{
	background-size: cover;
	background-color: #b870dc; /*light purple*/
	overflow: hidden;
	padding-top: 60px;
	line-height: 1.5;
}

h1{
  background-color: #979797; /*dark gray*/
  border: 2px solid #a141d0; /*purple*/
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

h2{
	padding-left:10px;
}

.section-title{
	text-transform: uppercase;
}
.resumemain-nav{
  width: 100%;
  background: #979797; /*dark gray*/
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.resume-nav{
	display: flex;
	font-weight: 700;
	list-style-type: none;
	margin: 0 auto;
	padding: 10px 40px;
	float: right;
}

.resume-nav li {
  padding: 5px 10px 10px 10px;
}
.resume-nav a {
  transition: all .5s;
}
.resume-nav a:hover {
  color: white
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 10px 20px;
  text-align:center;
  color: #000000;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
	text-align: center;
	display: inline-block;

}


/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
